---
layout: default
---

<div class="card mb-3 profilecard">
    <div class="row align-items-center">
      <div class="col-sm-4">
        <img src="/images/linkedin.jpg" class="card-img pl-4 profilephoto" alt="linkedin photo">
      </div>
      <div class="col-sm-8">
        <div class="card-body">
          <h5 class="card-title">Yangzesheng (Andrew) Sun</h5>
          <p class="mb-0 mt-0 card-text">Ph. D. Student</p>
          <p class="mb-0 mt-0 card-text">
              <small class="text-muted">Department of Chemistry & <br> 
                  Department of Computer Science and Engineering, <br> 
                  University of Minnesota
              </small></p>
          <p class="card-text">
              <small>Contact: sun00032 [at] umn [dot] edu</small>
          </p>
          <p class="card-text">
            <small class="text-muted">
                <i class="inline-icon svg-icon github"></i>
                <a href="https://github.com/{{ site.footer-links.github }}">Github</a>
                &nbsp;&nbsp;
                <i class="inline-icon svg-icon linkedin"></i>
                <a href="https://www.linkedin.com/in/andrew-sun-7989a4125/">Linkedin</a>
                &nbsp;&nbsp;
                <i class="inline-icon svg-icon twitter"></i>
                <a href="https://www.twitter.com/{{ site.footer-links.twitter }}">Twitter</a>
                &nbsp;&nbsp;
                <i class="inline-icon svg-icon youtube"></i>
                <a href="https://youtube.com/{{ site.footer-links.youtube }}">Youtube</a>
                &nbsp;&nbsp;
                <a href="/assets/Yangzesheng_Sun_CV-Jul2020.pdf">[CV]</a>
            </small>
          </p>
        </div>
      </div>
    </div>
  </div>



<article class="page">

  <div class="entry">
    {{ content }}
  </div>
</article>
